@rem-size: 10px;

.rem(@size: @rem-size) {
  font-size: 100% / 16px * @size;
}

// !define px and rem value for a given property
.rem(only, @property, @value, @html: @rem-size) when (ispixel(@value)) {
  @rem: 0rem + @value / @html;
  .PlastiCSS(print, "@{property}: @{rem}");
}
.rem(@property, @value, @html: @rem-size) when not (ispixel(@value)) and not (@property = only) {
  @px: round(0px + @value * @html);
  .PlastiCSS(print, "@{property}: @{px}; @{property}: @{value}");
}
.rem(@property, @value, @html: @rem-size) when (ispixel(@value)) and not (@property = only) {
  @rem: 0rem + @value / @html;
  .PlastiCSS(print, "@{property}: @{value}; @{property}: @{rem}");
}