// !Directories
@cfg-dir-font: '../font/';
@cfg-dir-img:  '../img/';

// !Fonts
@cfg-font-size:   16px;
@cfg-line-height: 1.5;
@cfg-font-limit:  3;
@cfg-font-flow:   both;
@cfg-rem-size:    10px;

@cfg-font-family: @font-sans-serif;

// !Medias minimum width
@cfg-media-large:  1024px;
@cfg-media-medium: 640px;
@cfg-media-small:  0;

// !Formats
@cfg-decimal:         4;
@cfg-decimal-percent: @cfg-decimal;
@cfg-decimal-rem:     @cfg-decimal;