//
// !Flow: Define a vertical rhythm
// ===============================
//

// !"Constants"
@flow-top:    top;
@flow-bottom: bottom;
@flow-middle: middle;
@flow-both:   both;

@flow-limit:  3;

// !Std vars
@flow-line-height: @cfg-font-size * @cfg-line-height;
@flow-margin: @flow-both;

// !Flow
.flow(_private, @font-size, @base-line-height: @flow-line-height, @margin: @flow-margin) {
  @line-height: unit(@base-line-height / @font-size);
  @coef: ceil(1 / @line-height);

  font-size: @font-size;
  font-size: 1rem * (@font-size / @cfg-rem-size);
  line-height: round(@line-height * @coef, @cfg-decimal);
}
.flow(@font-size, @base-line-height: @flow-line-height, @margin: @flow-margin){
  .flow(_private, @font-size, @base-line-height, @margin);
}
.flow(@font-size, @base-line-height: @flow-line-height, @margin: @flow-margin) when (@margin = @flow-top) {
  margin-bottom: 0;
  margin-top: @base-line-height;
  margin-top: round(.1rem * @base-line-height, @cfg-decimal);
}
.flow(@font-size, @base-line-height: @flow-line-height, @margin: @flow-margin) when (@margin = @flow-bottom) {
  margin-bottom: @base-line-height;
  margin-bottom: round(.1rem * @base-line-height, @cfg-decimal);
  margin-top: 0;
}
.flow(@font-size, @base-line-height: @flow-line-height, @margin: @flow-margin) when (@margin = @flow-both) {
  margin-top: 2 * @base-line-height;
  margin-top: round(.2rem * @base-line-height, @cfg-decimal);
  margin-bottom: @base-line-height;
  margin-bottom: round(.1rem * @base-line-height, @cfg-decimal);
}
.flow(@font-size, @base-line-height: @flow-line-height, @margin: @flow-margin) when (@margin = @flow-middle) {
  margin-top: @base-line-height;
  margin-top: round(.1rem * @base-line-height, @cfg-decimal);
  margin-bottom: @base-line-height;
  margin-bottom: round(.1rem * @base-line-height, @cfg-decimal);
}


// !flow-heads
.flow-heads(
  @font-size,
  @line-height,
  @margin: @flow-margin,
  @multiply: @flow-limit,
  @ease: linear
) {
  &1 { .flow-ease(@font-size, @line-height, @margin, @multiply, 1, 6, @ease) }
  &2 { .flow-ease(@font-size, @line-height, @margin, @multiply, 2, 6, @ease) }
  &3 { .flow-ease(@font-size, @line-height, @margin, @multiply, 3, 6, @ease) }
  &4 { .flow-ease(@font-size, @line-height, @margin, @multiply, 4, 6, @ease) }
  &5 { .flow-ease(@font-size, @line-height, @margin, @multiply, 5, 6, @ease) }
  &6 { .flow-ease(@font-size, @line-height, @margin, @multiply, 6, 6, @ease) }
}

// t: current time, b: begInnIng value, c: change In value, d: duration
.flow-ease(
  @font-size,
  @line-height,
  @margin: @flow-margin,
  @multiply: @flow-limit,
  @t: 1,
  @d: 6,
  @ease: linear
) {
  .flow-ease(_private,
    @font-size * @line-height, @margin,
    @font-size * @multiply,
    @font-size - @font-size * @multiply,
    @t - 1, @d, @ease);
}

// !flow-ease: linear
.flow-ease(_private, @line-height, @margin, @b, @c, @t, @d, linear) {
  @font-size: round(@c * @t/@d + @b);
  .flow(@font-size, @line-height, @margin);
}

// !flow-ease: easeInQuad
.flow-ease(_private, @line-height, @margin, @b, @c, @t, @d, easeInQuad) {
  @font-size: round(@c * (@t/@d) * (@t/@d) + @b);
  .flow(@font-size, @line-height, @margin);
}

// !flow-ease: easeOutQuad
.flow-ease(_private, @line-height, @margin, @b, @c, @t, @d, easeOutQuad) {
  @font-size: round(-@c * (@t/@d) * (@t/@d - 2) + @b);
  .flow(@font-size, @line-height, @margin);
}

// !flow-ease: easeInCubic
.flow-ease(_private, @line-height, @margin, @b, @c, @t, @d, easeInCubic) {
  @font-size: round(@c * (@t/@d) * (@t/@d) * (@t/@d) + @b);
  .flow(@font-size, @line-height, @margin);
}

// !flow-ease: easeOutCubic
.flow-ease(_private, @line-height, @margin, @b, @c, @t, @d, easeOutCubic) {
  @font-size: round(@c * ((@t/@d - 1) * (@t/@d - 1) * (@t/@d - 1) + 1) + @b);
  .flow(@font-size, @line-height, @margin);
}

// !flow-ease: easeInQuart
.flow-ease(_private, @line-height, @margin, @b, @c, @t, @d, easeInQuart) {
  @font-size: round(@c * (@t/@d) * (@t/@d) * (@t/@d) * (@t/@d) + @b);
  .flow(@font-size, @line-height, @margin);
}

// !flow-ease: easeOutQuart
.flow-ease(_private, @line-height, @margin, @b, @c, @t, @d, easeOutQuart) {
  @font-size: round(-@c * ((@t/@d - 1) * (@t/@d - 1) * (@t/@d - 1) * (@t/@d - 1) - 1) + @b);
  .flow(@font-size, @line-height, @margin);
}

// !flow-ease: easeInQuint
.flow-ease(_private, @line-height, @margin, @b, @c, @t, @d, easeInQuint) {
  @font-size: round(@c * (@t/@d) * (@t/@d) * (@t/@d) * (@t/@d) * (@t/@d) + @b);
  .flow(@font-size, @line-height, @margin);
}

// !flow-ease: easeOutQuint
.flow-ease(_private, @line-height, @margin, @b, @c, @t, @d, easeOutQuint) {
  @font-size: round(@c * ((@t/@d - 1) * (@t/@d - 1) * (@t/@d - 1) * (@t/@d - 1) * (@t/@d - 1) + 1) + @b);
  .flow(@font-size, @line-height, @margin);
}